*{
    box-sizing: border-box;
  }
  body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Lato",sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background-color: #ecf0f3;
  }
  .limiter{
    width: 450px;
    height:700px;
    padding: 60px 35px 35px 35px;
    border-radius:40px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  } 
.title{
    text-align: center;
    font-size:35px;
    padding-top: 24px;
    letter-spacing: 0.5px;
    display: block;
    margin-top: -30px;
}
.wrap-login100{
    width: 100%;
    padding: 75px 5px 5px 5px;
    margin-top: -45px;
}
.wrap-login100 input{
    border: none;
    outline: none;
    background: none;
    font-size:18px;
    color: #555;
    padding:20px 10px 20px 5px;
}
.validate-input {
    margin-bottom: 20px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrap-login100 svg{
    height:22px;
    margin: 0 10px -3px 25px;
}
.login100-form-btn{
    outline:none;
    border: none;
    cursor: pointer;
    width: 50%;
    height:50px;
    border-radius:30px;
    font-size:20px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    color: #fff;
    background-color: #02c8db;
    box-shadow:3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
    transition: all 0.5s;
}
.signin-button:hover{
    background-color: #50e5b9;
}
.signin-button:active{
    background-color: #88ef9e;
}

.link{
    padding-top: 20px;
    text-align: center;
}
.link a{
    text-decoration: none;
    color:#aaa;
    font-size: 15px;
}